
html {
    height: 100%;
    background-image: linear-gradient(45deg, rgb(215, 234, 254), #839eca); 
    /* background-color: #b9c0cb; */
    color: black;
}

h1 {
    font-size: 1.4em;
    text-align: center;
    margin-left: 3%;
}

h2 {

    margin-left: 3%;
}

h3 {
    font-size: 1.1em;
    margin: 5px 0;
    text-align: center;
}

.inputbtn {
    width: 50px;
    height: 30px;
}

.operator {
    width: 50px;
    height: 30px;
}

#clearBtn {
    width: 50px;
    height: 30px;
    margin-left: 3px;
}

#equalsBtn {
    width: 50px;
    height: 30px;
}

#inputA {
    background-color: #666060;
    border-radius: 5px;
    font-size: large;
    margin: 4px;
    padding: 5px;
}

.container {
    width: 228px;
}

#calculatordiv {
    border-radius: 10px;
    background-color: #363535;
    color: white;
    border: 5px solid black;
    width: fit-content;
    padding: 5px;
    margin-left: 3%;
}

#deleteHistBtn {
    margin: 4px 3px;
    height: 30px;
}

#calcList {
    margin-left: 2%;
    list-style-position:inside;
    padding: 0px 5px;
}

#resultsSection {
    border: solid 2px rgba(46, 46, 140, 0.704);
    border-radius: 10px;
    margin-left: 2.8%;
    width: inherit;
    padding: 5px;
}
